<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index ejs</title>
<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css">
</head>
<body>
<h1> Welcome </h1>
 <p> Html templating: In progress...  </p>
</body>
</html>
