<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title><%= title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<!-- <link rel="stylesheet" href="../assets/css/bootstrap.min.css" /> -->
		<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="../assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../assets/css/ace.min.css" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../assets/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="../assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="../assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="../assets/css/ng-tags-input.min.css" />
		
		<link rel="stylesheet" href="../assets/css/daterangepicker.css" />
		
		<style>
		.modal-dialog .modal-header,
		.modal-dialog .modal-footer {
		  background-color: #f5f5f5;
		}
		@media (max-width: 992px) {
		  .modal-dialog .modal-header .close,
		  .modal-dialog .modal-footer .close {
		    font-size: 2em;
		    padding: 0 10px 10px 10px;
		    margin-right: -10px;
		  }
		}
		.modal-dialog .page-header {
		  margin-top: 0;
		}
		</style>
		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="../assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../assets/js/html5shiv.js"></script>
		<script src="../assets/js/respond.min.js"></script>
		<![endif]-->