<!-- ajax layout which only needs content area -->

<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<!-- #section:pages/invoice -->
				<div class="widget-box transparent">
					<div class="widget-header widget-header-large">
						<h3 class="widget-title grey lighter">
							<i class="ace-icon fa fa-leaf green"></i>
							Education Details
						</h3>

						<!-- #section:pages/invoice.info -->
						<div class="widget-toolbar no-border invoice-info">							
							<a ng-click="save()" class="btn btn-success">
								<i class="ace-icon fa fa-save"></i>
								Save
							</a>
						</div>

						<div class="widget-toolbar hidden-480">
							<a href="#">
								<i class="ace-icon fa"></i>
							</a>
						</div>

						<!-- /section:pages/invoice.info -->
					</div>
					<div class="widget-body">
						<div class="widget-main padding-24">
							<div class="row" id="educationref">
									<div class="col-xs-12">
										<button class="btn btn-danger btn-sm" ng-click="add()">
											<i class="ace-icon fa fa-plus"></i>
											Add more
										</button>
											<table id="educationDetails" datatable="ng" class="table table-striped table-bordered table-hover">
											<!--
											<table id="coderefTable" options="options" notesref-table   aa-data="notes" class="table table-striped table-bordered table-hover">
											-->
												<thead>
													<tr>														
														<th>School</th>
														<th>Degree</th>
														<th>Start</th>	
														<th>End</th>															
														<th>Field of Study</th>															
														<th>Grade</th>
														<th>Description</th>
														<th>Actions</th>
													</tr>
												</thead>
											
												<tbody>
												<tr ng-repeat="item in education track by $index">
														<td>
															<p >{{item.school}} </p>
														</td>
														<td >
															<p class="lighter line-height-125">
																	{{item.degree}}
															</p>
														</td>														
														<td>
															
															<p class="lighter line-height-125" ng-bind="item.startdate | date:'MM/dd/yyyy'">
															
															</p>
														</td>	
														<td>
															
															<p class="lighter line-height-125" ng-bind="item.enddate | date:'MM/dd/yyyy'">
															
															</p>
														</td>
														<td>
															
																<p class="lighter line-height-125">
																	{{item.field}}
																</p>
															
														</td>
														<td>
															
																<p class="lighter line-height-125">
																	{{item.grade}}
																</p>
															
														</td>
														<td>
															
																<p class="lighter line-height-125">
																	{{item.description}}
																</p>
															
														</td>
														<td>
															<div class="action-buttons">
																<!-- <a class="blue"  ng-click="view(item.eid)">
																	<i class="ace-icon fa fa-search-plus bigger-130"></i>
																</a> -->

																<a class="green"  ng-click="edit(item.eid)">
																	<i class="ace-icon fa fa-pencil bigger-130"></i>
																</a>

																<a class="red" ng-click="delete(item.eid)">
																	<i class="ace-icon fa fa-trash-o bigger-130"></i>
																</a>
															</div>
														</td>	
												</tr>
												</tbody>												
											 
											 </table>	
							</div>
						</div>
					</div> <!--  widget body ends -->
					
				</div><!-- widget-box transparent -->
			</div> <!--col-10 -->
		</div> <!-- row -->				

		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->

<!-- page specific plugin scripts -->




<script type="text/ng-template" id="educationmodal.html">
         <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">
					   <form class="form-horizontal" role="form" id="education">
					   		<div class="form-group">
								<label for="title" class="col-sm-2 control-label">School</label>
								<div class="col-sm-10">
								  <input type="text" class="form-control" name="school" id="school"  ng-model="item.school"></value>
								</div>
							</div>	

						  	<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Degree</label>
								<div class="col-sm-10">
								  <input type="text" class="form-control" name="degree" id="degree"  ng-model="item.degree"></value>
								</div>
							</div>	

						<!--
							<div class="form-group">
							<label  for="title" class="col-sm-2 control-label">Course duration</label>
							
	
							
								<div class="col-sm-8">
									<div class="input-daterange input-group col-sm-10">

										<input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" bs-datepicker name="start" />
										<span class="input-group-addon">
											<i class="fa fa-exchange"></i>
										</span>

										<input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" bs-datepicker name="end" />
										<span class="input-group-addon">
											<i class="fa fa-exchange"></i>
										</span>
									</div>
									
								</div>
							</div>	


							<div class="form-group">
								    <label class="control-label"><i class="fa fa-calendar"></i> Course Duration</label>
								    <div class="form-group col-xs-6">
								      <input type="text" class="form-control" ng-model="item.startdate" data-max-date="{{currentdate}}" placeholder="start" bs-datepicker>
								    </div>								    
								    <div class="form-group col-xs-6">
								      <input type="text" class="form-control" ng-model="item.enddate" placeholder="completed" bs-datepicker>
								    </div>
						    </div>
						-->	
					
					
							<div class="form-group">
								    <label class="col-sm-2 control-label">Course Duration</label>
								    <div class="col-sm-10">
								      <input type="text" class="form-control" ng-model="item.startdate" data-max-date="{{curentdate}}" placeholder="began" bs-datepicker>
										<span class="input-group-addon">
											<i class="fa fa-exchange"></i>
										</span>
								       <input type="text" class="form-control" ng-model="item.enddate" data-max-date="{{currentdate}}" placeholder="graduated" bs-datepicker>
								    </div>								    
								    
						    </div>
						 	

							<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Field of study</label>
								<div class="col-sm-10">
								  <input type="text" class="form-control" name="field" id="field"  ng-model="item.field"></value>
								</div>
							</div>	

							<div class="form-group">
								<label for="title" class="col-sm-2 control-label">Grade  </label>
								<div class="col-sm-2">
								  <input type="text" class="form-control" name="grade" id="grade"  ng-model="item.grade"></value>
								</div>
							</div>	
							
							<div class="form-group">
								<label for="description" class="col-sm-2 control-label">Description</label>
								<div class="col-sm-10">
									<textarea class="form-control"  id="description" name="description"  ng-model="item.description"  maxlength="250"></textarea>
								</div>
							</div>			  
						</form>
              </div>
              <div class="modal-footer">                
                <button type="button" ng-click="save(item.eid)" class="btn btn-primary" data-dismiss="modal">Yes</button>
              </div>
            </div>
          </div>
        </div>

     </script>

      <script type="text/javascript">
        		console.log('loading scripts');
					/*
						var scripts = [null,"../assets/js/jquery.dataTables.min.js","../assets/js/jquery.dataTables.bootstrap.js","../assets/js/date-time/bootstrap-datepicker.min.js","../assets/js/date-time/bootstrap-timepicker.min.js","../assets/js/date-time/moment.min.js","../assets/js/date-time/daterangepicker.min.js","../assets/js/date-time/bootstrap-datetimepicker.min.js", null];
					*/	
						var scripts = [null,"../assets/js/jquery-ui.custom.min.js","../assets/js/x-editable/bootstrap-editable.min.js","../assets/js/jquery.ui.touch-punch.min.js","../assets/js/jquery.gritter.min.js","../assets/js/bootbox.min.js","../assets/js/jquery.easypiechart.min.js","../assets/js/date-time/bootstrap-datepicker.min.js","../assets/js/jquery.hotkeys.min.js","../assets/js/bootstrap-wysiwyg.min.js","../assets/js/select2.min.js","../assets/js/fuelux/fuelux.spinner.min.js","../assets/js/x-editable/bootstrap-editable.min.js","../assets/js/x-editable/ace-editable.min.js","../assets/js/jquery.maskedinput.min.js", "../assets/js/jquery.inputlimiter.1.3.1.min.js",null];
						ace.load_ajax_scripts(scripts, function() {	
							//to translate the daterange picker, please copy the "examples/daterange-fr.js" contents here before initialization
							 jQuery(function($) {

								 	// 	$('#educationref')
										// .find('.date-picker').datepicker().next().on(ace.click_event, function(){
										// 	$(this).prev().focus();
										// });

										// $('#educationref').find('input[name=date-range-picker]').daterangepicker({
										// 	'applyClass' : 'btn-sm btn-success',
										// 	'cancelClass' : 'btn-sm btn-default',
										// 	locale: {
										// 		applyLabel: 'Apply',
										// 		cancelLabel: 'Cancel',
										// 	}
										// })
										// .prev().on(ace.click_event, function(){
										// 	$(this).next().focus();
										// });

									
										// //or change it into a date range picker
										// $('#educationref').find('.input-daterange').datepicker({autoclose:true})
										// 		.prev().on(ace.click_event, function(){
										// 			$(this).next().focus();
										// 		});
								    });	
							});
	</script>	