<div class="container target">
    <div class="row">
        <div class="col-sm-6">
             <h1 class="">{{data.personal.firstname}} {{data.personal.lastname}}</h1>         

        </div>
      <div class="col-sm-4"></div>  
      <div class="col-sm-2"><a><img title="profile image" class="img-circle img-responsive" ng-src="../api/image/{{data.personal.avatarid}}"></a>

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Born</strong></span> {{data.personal.dateofbirth | date:'MM/dd/yyyy'}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Lives in</strong></span> Los Angeles,CA</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Profession</strong></span>Software Engineer</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong class="">working since </strong></span>Aug 2005 </li>
            </ul>
          
            <ul class="list-group">
                <li class="list-group-item text-muted">Experience <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-left"><span class="pull-left"><strong class="">Senior software engineer in Neobytes</strong></span> 2014-2015</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">paypal</strong></span> 2013-2014</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Neobytes</strong></span> 2012-2013</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Cognizant</strong></span> 2005-2012</li>
            </ul>    
            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">	<i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i> 
                    <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                </div>
            </div>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
                <div class="panel-heading">About me</div>
                <div class="panel-body"> A long description about me.

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" contenteditable="false">Education</div>
                <div class="panel-body">
                  <div class="row">
				<div class="col-md-4">
					10
				</div>
				<div class="col-md-4">
					12
				</div>
				<div class="col-md-4">
					ug
                 
            	</div>
                     
           	 </div> <!--education panel -->
           	 
           	 
                 
        </div> <!-- 9 row section -->
              
    </div> <!-- top row -- >
           

           
 </div> <!-- top container -->
       